<html>

<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="FirstPage">
        <a href="/" class="bookmarks">HOME PAGE</a>
        <a href="/first" class="bookmarks">SUPERMAN VS. SHAZAM</a>
    
    <center>
        <h1 style="color:teal;">Tony Stark</h1>
        <h4 style="color:teal;">AS</h4>
        <h2 style="color:maroon;">Iron Man</h2>
    </center>
    <center><img src="https://miro.medium.com/max/3000/1*IXj6F6TiST3LK9r50a-MLw.jpeg" width="400px" height="220px">
    </center>
    <hr>
    <p style="text-align: justify;">
        Iron Man is a 2008 American superhero film based on the Marvel Comics character of the same name.Produced by
        Marvel
        Studios and distributed by Paramount Pictures, it is the first film in the Marvel Cinematic Universe
        (MCU).<br><br>
        Still the greatest MCU film. Way better than that overrated Marvel's The Avengers, that overrated Guardians of
        the
        Galaxy, that overrated Black Panther, that overrated Avengers: Infinity War, and that massively overrated
        Avengers:
        Endgame. Iron Man is a fantastic masterpiece. Robert Downey Jr. proves to be the perfect actor to portray Iron
        Man/Tony Stark. Terrence Howard was way better as Jim "Rhodey" Rhodes than Don Cheadle. Don Cheadle sucks as War
        Machine/Jim "Rhodey" Rhodes, Terrence Howard should have been War Machine for the other MCU films instead of Don
        Cheadle.</p>
    <hr>
    <center><img
            src="https://static-koimoi.akamaized.net/wp-content/new-galleries/2020/04/iron-man-is-torn-into-pieces-by-thanos-in-one-reality-of-avengers-endgame-final-battle-0001.jpg"
            width="400px" height="220px">
        <h4 style="color: maroon;">Iron Man Is Torn Into Pieces By Thanos In One Reality Of Avengers: Endgame Final
            Battle!
        </h4>
    </center>
    <p>
    </p>
    </div>
</body>

</html>