<!DOCTYPE html>
<html>
  <head>
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Hello</h1>
    <p>Welcome to My Page</p>
    <div class="FirstPage">
      <a href="/" class="bookmarks">HOME PAGE</a>
      <a href="/first" class="bookmarks">SUPERMAN VS. SHAZAM</a>
      </div>

  </body>
</html>
